@page "/Generador"
@using Services
@inject IGeneradorService GeneradorService

<h3>Generador de Números Aleatorios</h3>

<div class="card">
    <div class="card-body">
        <label>Tipo de Método:</label>
        <select class="form-control" @bind="metodoSeleccionado">
            <option>Elija un Metodo...</option>
            @foreach (var metodo in metodosDisponibles)
            {
                <option value="@metodo">@metodo</option>
            }
        </select>
    </div>
</div>

@if (!string.IsNullOrEmpty(metodoSeleccionado))
{
    <div class="card mt-3">
        <div class="card-body">
            @if (metodoSeleccionado == "ParteCentralDelCuadrado")
            {
                <div>
                    <label>Semilla:</label>
                    <input type="number" class="form-control" @bind="@semilla" />
                </div>
                <div>
                    <label>Dígitos Deseados:</label>
                    <input type="number" class="form-control" @bind="@digitosDeseados" />
                </div>
                <div>
                    <label>Total de Números a Generar:</label>
                    <input type="number" class="form-control" @bind="@totalDeNumerosGenerar"/>
                </div>
            }
            else @if (metodoSeleccionado == "Lehmer")
            {
                <div>
                    <label>Semilla:</label>
                    <input type="number" class="form-control" @bind="@semilla" />
                </div>
                <div>
                    <label>Constante Multiplicativa:</label>
                    <input type="number" class="form-control" @bind="@constanteMultiplicativa" />
                    @if (constanteMultiplicativa == 0)
                    {
                        <div class="text-danger">La constante multiplicativa no puede ser cero. Ingresa otro número.</div>
                    }
                </div>
                <div>
                    <label>Total de Números a Generar:</label>
                    <input type="number" class="form-control" @bind="@totalDeNumerosGenerar" />
                </div>
            }

            else if (metodoSeleccionado == "CongruencialMixto")
            {
                <div>
                    <label>Semilla:</label>
                    <input type="number" class="form-control" @bind="@semilla" />
                </div>
                <div>
                    <label>Constante Aditiva:</label>
                    <input type="number" class="form-control" @bind="@constanteAditiva" />
                </div>
                <div>
                    <label>Constante Multiplicativa:</label>
                    <input type="number" class="form-control" @bind="@constanteMultiplicativa" />
                </div>
                <div>
                    <label>Módulo:</label>
                    <input type="number" class="form-control" @bind="@modulo" />
                </div>
                <div>
                    <label>Dígitos:</label>
                    <input type="number" class="form-control" @bind="@digitos" />
                </div>
                <div>
                    <label>Total de Números a Generar:</label>
                    <input type="number" class="form-control" @bind="@totalDeNumerosGenerar" />
                </div>
            }
            else if (metodoSeleccionado == "CongruencialMultiplicativo")
            {
                <div>
                    <label>Semilla:</label>
                    <input type="number" class="form-control" @bind="@semilla" />
                </div>
                <div>
                    <label>Constante Multiplicativa:</label>
                    <input type="number" class="form-control" @bind="@constanteMultiplicativa" />
                </div>
                <div>
                    <label>Módulo:</label>
                    <input type="number" class="form-control" @bind="@modulo" />
                </div>
                <div>
                    <label>Total de Números a Generar:</label>
                    <input type="number" class="form-control" @bind="@totalDeNumerosGenerar" />
                </div>
                <div>
                    <label>Dígitos:</label>
                    <input type="number" class="form-control" @bind="@digitos" />
                </div>
            }
            else if (metodoSeleccionado == "CongruencialAditivo")
            {
                <div>
                    <label>Lista de Semilla:</label>
                    <input type="text" class="form-control" @bind="@listaSemillaString" />
                    <small>Ejemplo: 1,2,3,4</small>
                </div>
                <div>
                    <label>Módulo:</label>
                    <input type="number" class="form-control" @bind="@modulo" />
                </div>
                <div>
                    <label>Total de Números a Generar:</label>
                    <input type="number" class="form-control" @bind="@totalDeNumerosGenerar" />
                </div>
                <div>
                    <label>Dígitos:</label>
                    <input type="number" class="form-control" @bind="@digitos" />
                </div>
            }
        </div>
    </div>
}
<div class="mt-3">
    <button class="btn btn-primary" @onclick="GenerarNumerosAleatorios">Generar Números Aleatorios</button>
</div>

@if (numerosGenerados != null)
{
    <PruebasEstadisticas Numeros="@numerosGenerados" />

    <div class="card mt-3">
        <div class="card-body">
            <h4>Números Generados:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Número</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var numero in numerosGenerados)
                    {
                        <tr>
                            <td>@numero</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

