@page "/Fuente"
@page "/Fuente/{id}"
@using Controllers;
@inject FuenteController controller

<div class="edit-form-container">
    @if (Id == null)
    {
        <h3>Create a new Fuente</h3>
    }
    else
    {
        <h3>Detalles de la Fuente: </h3>
    }

    <EditForm Model="fuente" OnSubmit="HadleSubmit">
        <div>
            <label for="cadenaFuente">Cadena Fuente</label>
            <InputTextArea id="cadenaFuente" @bind-Value="fuente.CadenaFuente" class="form-control" spellcheck="false" rows="@(fuente.CadenaFuente.Length/120  )"></InputTextArea>
        </div>
        <br />
        <button type="submit" class="btn btn-primary rz-ripple rz-shadow-2 rz-border-radius-6">@btnText</button>
        <button type="button" class="btn btn-danger rz-ripple rz-shadow-2 rz-border-radius-6" @onclick="DeleteFuente">Delete Fuente</button>
    </EditForm>
</div>

@if (Id != null)
{
    <div class="component-container">
        <div class="component-child"><CadenaCodificada Fuente="@fuente"></CadenaCodificada></div>
        <div class="component-child"><Decodificador Fuente="@fuente"></Decodificador></div>
        <div class="component-child"><TablaLetras Letras="@fuente.Letras"></TablaLetras></div>
    </div>
}
