@using System.Globalization
@using Models;

<RadzenCard class="rz-background-color-info-lighter" Style="margin-top:10px">
<div class="container">

    <div class="row">
        <div class="col-sm-12 my-5">
            <RadzenCard class="w-100 mb-4" >
                <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
                <RadzenLabel Text="Show Data Labels" For="dataLabels" Style="margin-left: 8px; vertical-align: middle;" />
            </RadzenCard>
            <h4>Auto-size column series</h4>
            <RadzenChart>
                <RadzenColumnSeries Data="@Letras" CategoryProperty="Name" Title="Probabilidades" LineType="LineType.Dashed" ValueProperty="Probability">
                    <RadzenSeriesDataLabels Visible="@showDataLabels" />
                </RadzenColumnSeries>

                <RadzenColumnOptions Radius="5" />
                <RadzenValueAxis Formatter="@FormatAsPercent">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Frecuencia" />
                </RadzenValueAxis>
            </RadzenChart>
@*            <h4>Custom size column series</h4>
            <RadzenChart>
                <RadzenColumnSeries Data="@Data" CategoryProperty="Simbolo" Title="2020" LineType="LineType.Dashed" ValueProperty="Frecuencia">
                    <RadzenSeriesDataLabels Visible="@showDataLabels" />
                </RadzenColumnSeries>
                <RadzenColumnOptions Radius="5" Width="20" />
                <RadzenCategoryAxis Padding="20" />
                <RadzenValueAxis Formatter="@FormatAsUSD">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Frecuencia in USD" />
                </RadzenValueAxis>
            </RadzenChart>*@
        </div>
    </div>
</div>
    </RadzenCard>

@code {
    bool showDataLabels = false;

    [Parameter]
    public List<Letra> Letras { get; set; }
    
    string FormatAsPercent(object value)
    {
        return ((double)value*100).ToString("0.##")+"%";
    }
}
