@using Model;

<RadzenCard class="rz-background-color-info-lighter tabla-letras-card">
    <div id="tabla-letras" class="tabla-letras-container">
        <table class="table letras-table">
            <thead>
                <tr>
                    <th>Letra</th>
                    <th class="desktop-only">Probabilidad</th>
                    <th>Información</th>
                    <th>Código</th>
                    <th class="desktop-only">Frecuencia</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Letras.OrderByDescending(x => x.FrecuenciaDeAparicion))
                {
                    <tr>
                        <td>@item.Name</td>
                        <td class="desktop-only">@((item.Probability * 100).ToString("0.##")) %</td>
                        <td>@item.Information.ToString("0.##") bit</td>
                        <td>@item.Code</td>
                        <td class="desktop-only">@item.FrecuenciaDeAparicion</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public List<Letra> Letras { get; set; }
}
