@inject IProfessionalService service
@using Services;
@using Model

@if (professional == null)
{
    <h1>
        "No se pudo cargar el profesional: @ProfessionalId";
    </h1>
}
else
{
    <ProfileHeader Name="@professional.Name" Role="@professional.Role"></ProfileHeader>
    <ContactLine ProfessionalId="@ProfessionalId"></ContactLine>
    <ProfessionalProfileContainer Language=@professional.Language Tools="@professional.Tools" ProfessionalProfile="@professional.ProfessionalProfile"></ProfessionalProfileContainer>
    <HistoryContainer Language=@professional.Language ProfessionalId ="@ProfessionalId"></HistoryContainer>
}


