@using Model
@using Services
@using System.Reflection;
@inject IProfessionalService service

<div class="contact" role="list">
    <ul>
        @foreach (var prop in Contact.GetType().GetProperties()
        .Where(p => !p.Name.EndsWith("Id") && !IsVirtualProperty(p)))
        {
            var value = prop.GetValue(Contact)?.ToString();
            var displayValue = value;
            var link = value;
            var iconClass = FindIcon(prop.Name);

            if (value?.Contains(".com/") == true)
            {
                displayValue = value.Substring(value.IndexOf(".com/") + 5);
            }
            else if (value?.Contains("@") == true && value.Contains(".com"))
            {
                link = $"mailto:{value}";
                displayValue = value;
            }

            if (Uri.IsWellFormedUriString(link, UriKind.Absolute))
            {
                <li role="listitem"><i class="@iconClass" aria-hidden="true"></i> <a href="@link" target="_blank" rel="noopener noreferrer">@displayValue</a></li>
            }
            else
            {
                <li role="listitem"><i class="@iconClass" aria-hidden="true"></i> @displayValue</li>
            }
        }
    </ul>
</div>
