@using Model;
@inject IProfessionalService service
@using Services;

<div class="experience">
    @if (Language == Language.English)
    {
        <TitleComponent Title="Experience"></TitleComponent>
    }
    else if (Language == Language.Spanish)
    {
        <TitleComponent Title="Experiencia"></TitleComponent>
    }

    @foreach (var experience in _experiences.OrderByDescending(e => e.YearStart))
    {
        <h3>
            <span class="experience-icon"></span>
            <span>@experience.Name.ToUpper()</span>
        </h3>
        <h3>
            @experience.YearStart - @(experience.YearFinish.HasValue ? experience.YearFinish.Value.ToString() : "Present")
        </h3>
        <div>@experience.Role</div>
        <div>
            @foreach (var skill in _skills.Where(s => s.ExperienceId == experience.Id))
            {
                <div>
                    <span class="skill-icon"></span>
                    <span>@skill.Value</span>
                </div>
            }
        </div>
    }
</div>


